{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error",
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/state-in-constructor": 0
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "babel-eslint"
}
