.todo-list {
  padding: 0;
}

.todo-item__container {
  display: inline-block;
  width: 50%;
  background-color: #edf5e1;
  border: 5px solid #05386b;
  padding: 0.5rem;
}

.todo-item {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 auto;
  line-height: 1;
}

.completed {
  text-decoration: line-through;
}
